<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="General.Properties.Settings.hola3ConnectionString"
            connectionString="Data Source=MARCONY-PC;Initial Catalog=hola3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="General.Properties.Settings.desarrolloConnectionString"
            connectionString="Data Source=MARCONY-PC;Initial Catalog=desarrollo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="General.Properties.Settings.desarrolloConnectionString1"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\desarrollo.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="General.Properties.Settings.desarrolloConnectionString2"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Marcony\Dropbox\BD\desarrollo.mdf;Integrated Security=True;Connect Timeout=30;Context Connection=False"
            providerName="System.Data.SqlClient" />
        <add name="General.Properties.Settings.desarrolloConnectionString3"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Dropbox\BD\desarrollo.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="General.Properties.Settings.desarrolloConnectionString4"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\db\desarrollo.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>